[submodule "secure_journal_backend"]
	path = secure_journal_backend
	url = ../secure_journal_backend.git
[submodule "secure_journal_frontend"]
	path = secure_journal_frontend
	url = ../secure_journal_frontend.git
[submodule "encroshare.wiki"]
	path = encroshare.wiki
	url = ../encroshare.wiki.git
