[submodule "secure_journal_backend"]
	path = encroshare_backend
	url = ../encroshare_backend.git
[submodule "secure_journal_frontend"]
	path = encroshare_frontend
	url = ../encroshare_frontend.git
[submodule "encroshare.wiki"]
	path = encroshare.wiki
	url = ../encroshare.wiki.git
