[submodule "secure_journal_backend"]
	path = secure_journal_backend
	url = ../secure_journal_backend.git
[submodule "secure_journal_frontend"]
	path = secure_journal_frontend
	url = ../secure_journal_frontend.git
[submodule "secure_journal.wiki"]
	path = secure_journal.wiki
	url = ../secure_journal.wiki.git
